:root {
	--dark-white: #d6d9d7;
	--white-cream: #F5E5D5;

	--YELLOW: #fac22b;
	--BLUE: #0e638e;
	--RED: #d42a20;
	--almost-black: #32302b;

	--header-height: 25vh;
}

html {
	background-color: var(--white-cream);
	font-size: 24px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	margin: 0;
}


header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
}


h1 {
	color: var(--almost-black);
	font-size: 3.5rem;
	letter-spacing: .2rem;
	margin: 0 2rem;
}

h2 {
	margin: 1.5rem 0;
	font-size: 2rem;
	text-align: left;
	padding-top: 3vh;
}

.colorful h2 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.red h2 {
	border-bottom-color: var(--RED);	
}

.blue h2 {
	border-bottom-color: var(--BLUE);	
}

.yellow h2 {
	border-bottom-color: var(--YELLOW);	
}

h3 {
	font-size: 2rem;
	font-weight: 300;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

h4{
	font-weight: 200;
}

p {
	text-align: left;
	font-weight: 300;
	line-height: 1.5rem;
}

em {
	font-style: normal;
	font-weight: 600;
}

#myPicture {
	height: 300;
	width: 300;
	object-fit: cover;
	border-radius: 50%;
	float: left;
	margin-right: 2rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

section {
	margin-left: 8vw;
	margin-right: 8vw;
	padding-bottom: var(--header-height);
}

section.colorful {
	padding-bottom: calc(2*var(--header-height));
}

.subsection {
	min-height: calc(100vh - 2*var(--header-height));
}

#index {
	display: flex;
	flex-direction: row;
	gap: 6vw;
	padding-left: 10vw;
	padding-right: 10vw;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

#index button,
a.code-button {
	border: 1px solid black;
	border-radius: 5px;
	width: 50%;
	margin: 2% auto;
	height: 3rem;
	cursor: pointer;
	box-shadow: 4px 5px 0 0 #3c372d;
	transition: box-shadow,transform  .2s;
	animation-timing-function: ease-in-out;
}

a.code-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 600;
	color: black;
}

a.code-button:focus-visible,
a.code-button:hover {
	background-color: var(--YELLOW);
}

#index button:focus-visible,
#index button:hover,
a.code-button:focus-visible,
a.code-button:hover {
	transform: translate(1px, 1px);
	box-shadow: 3px 4px 0 0 #3c372d;
}


#others .project-container {
	height: 20vw;
	width: 20vw;
}	

/*#others #origami {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2vw;
	height: 25vh;
}*/

#others #origami img {
	height: 20vw;
	width: 20vw;
	object-fit: cover;
	border-radius: 25px;
}

#others .project-container {
	display: inline-block;
}

#others .project-container a {
	padding: 0;
	text-decoration: none;
}

#others .project-container a div {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding-left: 0.5rem;
	text-decoration: none;
	color: var(--BLUE);
}

#others .project-container a:hover,
#others .project-container a:focus {
	text-decoration: none;
}


#photography {
	height: 25vh;
}

#photography img {
	height: 100%;
	width: auto;
	border-radius: 25px;
}

/*#photography a {
	display: inline-block;
	height: 100%;
	margin:.3vw;
}*/



.project-container {
	position: relative;
	display: flex;
}

.project-container img {
	position: relative;
	z-index: 3;
}

.project-container button,
.project-container a {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 25px;
	z-index: 2;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	font-family: 'Josefin Sans', sans-serif;
	color: var(--YELLOW);
	font-weight: 300;
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
	padding-left: 0.5rem;
}

.project-container img:hover {
	z-index: 1;
}

.project-container button:hover,
.project-container button:focus,
.project-container a:hover,
.project-container a:focus {
	z-index: 4;
}

.project-details {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: var(--white-cream);
	margin-left: 16vw;
	margin-right: 16vw;
	margin-top: calc(var(--header-height) / 2);
	margin-bottom: calc(var(--header-height) / 2);
	height: calc(100vh - var(--header-height));
	border-radius: 25px;
	box-sizing: border-box;
	overflow-y: hidden;
	cursor: default;

}

.modal-inner-content {
	padding: 1.5%;
	padding-left: 8vw;
	padding-right: 8vw;
	overflow-y: auto;
	height: 100%;
	box-sizing: border-box;
}

.project-details .modal-inner-content img {
	width: 300px;
	margin: 1rem;
}

.project-details .modal-content p {
	text-align: left;
	font-weight: 300;
	line-height: 1.5rem;
	font-size: 1rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  background: none;
  border: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15vw;
}

.column {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 3rem;	
}




.column h4 {
	text-align: center;
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.column p {
	text-align: left;
	margin: 0;
	margin-top: 0.8rem;
	font-weight: 200;
	font-size: .8rem;
	line-height: 1rem;
}

.columns img {
	width: 100%;
	border-radius: 25px;
}

.divider {
	border: 1px solid black;
	height: 70vh;
	width: 0;
	position: relative;
	left: 50%;
}



button.colorful,
a.colorful {
	background-color: var(--white-cream);
	font-size: 1.2rem;
}

button.red:focus,
button.red:hover {
	background-color: var(--RED);
}

button.blue:focus,
button.blue:hover {
	background-color: var(--BLUE);
}

button.yellow:focus,
button.yellow:hover {
	background-color: var(--YELLOW);
}


button {
	cursor: pointer;
}




@media(max-width: 900px) {
	:root {
		--header-height: 30vh;	
	}

	h1 {
		font-size: 3rem;
	}

	button {
		width: 70%;
	}

	#index {
		flex-direction: column;
	}

	#others .project-container {
		height: auto;
		width: 100%;
	}

	#others .project-container a {
		height: 98%;
	}

	#others #origami {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#others #origami img {
		height: auto;
		width: 100%;
	}

	#myPicture {
		float: none;
		margin: auto;
	}

	.columns {
		grid-template-columns: repeat(1, 1fr);
	}


}