:root {
	--dark-white: #d6d9d7;
	--white-cream: #F5E5D5;

	--YELLOW: #fac22b;
	--BLUE: #0e638e;
	--RED: #d42a20;
	--almost-black: #32302b;

	--header-height: 20vh;
}

html {
	background-color: var(--white-cream);
	font-size: 24px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	margin: 0;
}


header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: center;
}


h1 {
	color: var(--almost-black);
	font-size: 3.5rem;
	letter-spacing: .2rem;
	margin: 0 2rem;
}

h2 {
	margin: 1.5rem 0;
	font-size: 2rem;
	text-align: left;
	padding-top: 3vh;
}

.colorful h2 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.red h2 {
	border-bottom-color: var(--RED);	
}

.blue h2 {
	border-bottom-color: var(--BLUE);	
}

.yellow h2 {
	border-bottom-color: var(--YELLOW);	
}

h3 {
	font-size: 2rem;
	font-weight: 300;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

h4{
	font-weight: 200;
}

p {
	text-align: left;
	font-weight: 300;
	line-height: 1.5rem;
}

em {
	font-style: normal;
	font-weight: 600;
}

#myPicture {
	height: 300;
	width: 300;
	object-fit: cover;
	border-radius: 50%;
	float: left;
	margin-right: 2rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

section {
	margin-left: 8vw;
	margin-right: 8vw;
	padding-bottom: var(--header-height);
}

section.colorful {
	padding-bottom: calc(2*var(--header-height));
}

.subsection {
	min-height: calc(100vh - 2*var(--header-height));
}

#index {
	display: flex;
	flex-direction: row;
	gap: 6vw;
	padding-left: 10vw;
	padding-right: 10vw;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

#others img {
	height: 320px;
	width: 320px;
	object-fit: cover;
	border-radius: 25px;
}

#photography img {
	object-fit: contain;
}

.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15vw;
}

.column {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 3rem;	
}


.column h4 {
	text-align: center;
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}

.column p {
	text-align: center;
	margin: 0;
	margin-top: .3rem;
	font-weight: 200;
	font-size: .8rem;
	line-height: 1rem;
}

.columns img {
	width: 100%;
	border-radius: 25px;
}

.divider {
	border: 1px solid black;
	height: 70vh;
	width: 0;
	position: relative;
	left: 50%;
}



button.colorful {
	background-color: var(--white-cream);
	font-size: 1.2rem;
}

button.red:focus,
button.red:hover {
	background-color: var(--RED);
}

button.blue:focus,
button.blue:hover {
	background-color: var(--BLUE);
}

button.yellow:focus,
button.yellow:hover {
	background-color: var(--YELLOW);
}

input,
button {
	border: 1px solid black;
	border-radius: 5px;
}

input {
	height: 1.6rem;
	margin: 0.3rem 0;

}

button {
	width: 50%;
	margin: 2% auto;
	height: 3rem;
	cursor: pointer;
	box-shadow: 4px 5px 0 0 #3c372d;
	transition: box-shadow,transform  .2s;
	animation-timing-function: ease-in-out;
}

button:focus-visible,
button:hover {
	transform: translate(1px, 1px);
	box-shadow: 3px 4px 0 0 #3c372d;
}


@media(max-width: 900px) {
	:root {
		--header-height: 30vh;	
	}

	h1 {
		font-size: 3rem;
	}

	button {
		width: 70%;
	}

	#index {
		flex-direction: column;
	}

	#myPicture {
		float: none;
		margin: auto;
	}

	.columns {
		grid-template-columns: repeat(1, 1fr);
	}
}