:root {
	--dark-white: #d6d9d7;
	--white-cream: #F5E5D5;

	--YELLOW: #fac22b;
	--BLUE: #0e638e;
	--RED: #d42a20;
	--almost-black: #32302b;

	--header-height: 30vh;
	--modal-horizontal-margin: 16vw;

	--c2-column-gap: 12vw
}

html {
	background-color: var(--white-cream);
	font-size: 24px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
	color: black;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	margin: 0;
	position: relative;
}


#frontPageCanvas {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

header {
	height: calc(var(--header-height)*0.3);
	/*justify-content: right;*/
	/*display: flex;*/
	/*align-items: center;*/
	padding-right: 8vw;/*calc(var(--modal-horizontal-margin)/2);*/
	position: relative;
	text-align: right;
	vertical-align: center;
	line-height: calc(var(--header-height)*0.3);
	/*font-size: 0.8rem;*/
}

header label,
header select {
	font-size: 0.7rem;
}

header label {
	margin: 0;
}

header select {
	background-color: transparent;
	border: none;
	transition: border-bottom-color .3s;
	animation-timing-function: ease-in-out;
	/*text-decoration: underline;*/
	border-bottom: 1px solid black;
	border-bottom-color: var(--white-cream);
	margin-right: 2px;
}

header select:hover,
header select:focus {
	border-bottom-color: #101010;
}

select:hover,
select option:hover {
	cursor: pointer;
}

.currFlag {
	position: relative;
	width: 25px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;

}

.currFlag::after {
	content: "";
	border-radius: 3px;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

}

#ukFlag::after {
	background-image: url("media/uk-flag.png");
}

#brFlag::after {
	background-image: url("media/br-flag.png");
}
h1 {
	color: var(--almost-black);
	font-size: 3.5rem;
	letter-spacing: .2rem;
	margin: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(var(--header-height)*0.7);
}

h2 {
	margin: 1.5rem 0;
	font-size: 2rem;
	text-align: left;
	padding-top: 3vh;
}

.colorful h2 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.red h2 {
	border-bottom-color: var(--RED);	
}

.blue h2 {
	border-bottom-color: var(--BLUE);	
}

.yellow h2 {
	border-bottom-color: var(--YELLOW);	
}

h3 {
	font-size: 2rem;
	font-weight: 300;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h4 {
	font-weight: 200;
}

p, 
ol,
ul {
	text-align: left;
	font-weight: 300;
	line-height: 1.5rem;
}

em {
	font-style: normal;
	font-weight: 600;
}

#myPicture {
	max-height: 300px;
	max-width: 300px;
	object-fit: cover;
	border-radius: 50%;
	float: left;
	margin-right: 2rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.icon {
	display: inline-block;
	margin-right: 0.5rem;
	vertical-align: text-top;
	width: 1rem;
	height: 1rem;

}
.icon.linkedin-icon {
	background: url('media/In-Blue-Logo.png.original.png');
	background-size: cover;
}

.icon.github-icon {
	background: url('media/github-mark.png');
	background-size: cover;
}

section {
	margin-left: 8vw;
	margin-right: 8vw;
	padding-bottom: var(--header-height);
	/*min-height: calc(100vh - var(--header-height));*/
	position: relative;
}

.subsection {
	min-height: calc(100vh - 2*var(--header-height));
}

.section-footer {
	position: absolute;
	bottom: 0;
	padding: 2rem 0;
}

#indexSection {
	display: flex;
	flex-direction: row;
	gap: 6vw;
	padding-left: 10vw;
	padding-right: 10vw;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

#indexSection a,
.code-button {
	border: 1px solid black;
	border-radius: 5px;
	width: 50%;
	margin: 2% auto;
	height: 3rem;
	cursor: pointer;
	box-shadow: 4px 5px 0 0 #3c372d;
	transition: box-shadow,transform  .2s;
	animation-timing-function: ease-in-out;

	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none !important;
	font-weight: 600;
	color: black !important;
}

.code-button:focus-visible,
.code-button:hover {
	background-color: var(--YELLOW);
}

#indexSection a:focus-visible,
#indexSection a:hover,
.code-button:focus-visible,
.code-button:hover {
	transform: translate(1px, 1px);
	box-shadow: 3px 4px 0 0 #3c372d;
}

.code-button {
	margin-top: 2rem;
	margin-bottom: 1rem;
}


#othersSection > div {
	margin-bottom: 3rem;
	display: inline-block;
}

#othersSection h3 {
	margin-bottom: 1rem;
}

#othersSection .project-container {
	height: 20vw;
	width: 20vw;
}

#othersSection #origami img {
	height: 20vw;
	width: 20vw;
	object-fit: cover;
	border-radius: 25px;
}

#othersSection .project-container {
	display: inline-block;
}

#othersSection .project-container a,
#photography a {
	padding: 0;
	text-decoration: none;
}

#othersSection .project-container a div,
.image-container figcaption {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	padding-left: 0.5rem;
	text-decoration: none;
}



#photography img,
#blender img {
	height: 30vh;
	width: auto;
	border-radius: 25px;
}


.project-container {
	position: relative;
	display: flex;
}

.project-container img,
.project-container video {
	position: relative;
	z-index: 3;
	tab-index: -1;
}

.container-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	padding-left: 0.5rem;
	margin: 0;
	border: none;
	border-radius: 28px;
	z-index: 2;
	box-sizing: border-box;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	font-family: 'Josefin Sans', sans-serif;
	color: var(--YELLOW) !important;
	font-weight: 300;
	font-size: 2vw;
	letter-spacing: 0.5rem;
}

.project-container img:hover,
.project-container video:hover {
	z-index: 1;
}

.container-cover:hover,
.container-cover:focus {
	z-index: 4;
	border-radius: 25px;
}

.image-container {
	height: 30vh;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
}

#blender div.image-container img,
#blender div.image-container video {
	height: 100% !important;
}

.image-container figcaption {
	visibility: hidden;
}
.image-container:hover figcaption {
	visibility: visible;
}


dialog::backdrop {
	background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal {
	background-color: var(--white-cream);
	margin: calc(var(--header-height) / 2) var(--modal-horizontal-margin);
	width: calc(100vw - 2 * var(--modal-horizontal-margin));
	height: calc(100vh - var(--header-height));
	border-radius: 25px;
	box-sizing: border-box;
	overflow-y: hidden;
	cursor: default;
	border: 0;
	padding: 1%;
	color: black;
	max-width: none;
}

.modal.cool {
	box-shadow: 1px 1px 53px 5px var(--white-cream);
}

.modal-content {
	padding: 0 8vw;
	overflow-y: auto;
	box-sizing: border-box;
	position: relative;
	margin-top: 3rem;
	height: calc(100% - 3rem);
}


.modal-content h3 {
	margin-bottom: 3rem;
	margin-top: 0;
}

dialog.project-details img,
dialog.project-details video {
	width: 300px;
	margin: 1rem;
}

.media-with-description {
	margin: 1rem 0;
}

.gif-with-toggle {
	display: inline-block;
	margin: 0;
}

svg.triangle {
	width: 0.6875em;
	height: 0.6875em;
	display: inline;
	fill: black;
	flex-shrink: 0;
	backface-visibility: hidden;
	transition: transform 200ms ease-out 0s;
	transform: rotateZ(90deg);
}

.collapseButton:hover svg.triangle,
.collapseButton:focus-visible svg.triangle {
	fill: var(--YELLOW);
}

svg.triangle.open {
	transform: rotateZ(180deg);
}

.collapseButton {
	background: none;
	border: none;
	font-size: 0.8rem;
	display: block;
}

dialog.project-details p.gif-description {
	font-size: 0.8rem;
	border: 1px black solid;
	padding: 0.3rem 0.5rem;
	width: 80%;
	margin: auto;
	display: none;
}

dialog.project-details p.gif-description.open {
	display: block;
}

dialog.project-details .gif-with-toggle img,
dialog.project-details .gif-with-toggle video {
	margin: 0;
}


dialog.project-details figure {
	display: inline-block;
	margin: 1rem 0;
}

dialog.project-details figure img,
dialog.project-details figure video {
	margin: 0 !important;
}

dialog.project-details figure figcaption {
	margin-top: 0.2rem !important;
}

dialog.project-details p {
	text-align: left;
	font-weight: 300;
	line-height: 1.5rem;
	font-size: 1rem;
}

/* The Close Button */
dialog .close {
	background: none;
	border: none;
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 2rem;
	height: 2rem;
	padding: 0;
}

dialog .close:before,
dialog .close:after {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2px;
	background-color: #aaa;
	border-radius: 2px;
	box-shadow:0 0 2px 0 #ccc;
}

dialog .close:before {
	transform: rotate(45deg);
	left: 0;
}

dialog .close:after {
	transform: rotate(-45deg);
	right: 0;
}

dialog .close:hover,
dialog .close:focus {
	cursor: pointer;
}

dialog .close:hover:after,
dialog .close:hover:before,
dialog .close:focus:after,
dialog .close:focus:before {
	background-color: #000;
}

.columns {
	display: grid;
}

.columns:not(:last-child) {
	margin-bottom: 20vh;
}

.columns.c-2 {
	grid-template-columns: repeat(2, 1fr);
	row-gap: 11vh;
	column-gap: var(--c2-column-gap);
}

.columns.c-3 {
	grid-template-columns: repeat(3, 1fr);
	row-gap: 11vh;
	column-gap: 10vw;
}

.column {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 3rem;
}


.columns h4 {
	text-align: center;
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

.columns p,
.project-details .modal-content figure figcaption {
	text-align: left;
	margin: 0;
	margin-top: 0.8rem;
	font-weight: 200;
	font-size: .9rem;
	line-height: 1rem;
}

.columns img,
.columns video {
	width: 100%;
	border-radius: 25px;
}

.divider {
	border: 1px solid black;
	height: 70vh;
	width: 0;
	position: relative;
	left: 50%;
}

#thisWebsiteImage {
	object-fit: cover;
}



button.colorful,
a.colorful {
	background-color: var(--white-cream);
	font-size: 1.2rem;
}

a.red:focus,
a.red:hover {
	background-color: var(--RED);
}

a.blue:focus,
a.blue:hover {
	background-color: var(--BLUE);
}

a.yellow:focus,
a.yellow:hover {
	background-color: var(--YELLOW);
}


button {
	cursor: pointer;
	font-family: inherit;
	color: inherit;
}

a {
	box-sizing: border-box;
}

img.full-image,
video.full-image {
	width: 100% !important;
}

dialog.project-details img.full-image {
	margin: 1rem 0;
}

p.equation {
	text-align: center !important;
}




/* Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track-piece {
	width: 20px;
}

::-webkit-scrollbar-button {
	color: black;
}


/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	width: 3px;
}

::-webkit-scrollbar-track:hover {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 25px;
	width: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--almost-black);
}



.interactiveCode {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.8rem;
}

canvas {
	display: block;
	border-radius: 25px;
	margin-bottom: 0.5rem;
}

label {
	font-size: 0.8rem;
	font-weight: 600;
	margin-right: 0.5rem;
}
input {
	border: 1px solid black;
	height: 1rem;
	border-radius: 5px;
	font-size: 0.8rem;
	width: 4rem;
	background-color: var(--white-cream);
}

footer a {
	text-decoration: none !important;
	color: var(--YELLOW) !important;
	font-weight: 400;
	font-size: 3rem;
	padding: 2rem;
}

a {
	color: var(--BLUE);
	font-weight: 400;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}







@media(max-width: 900px) {
	:root {
		--header-height: 35vh;
		--modal-horizontal-margin: 2vw;
	}

	/*h1 {*/
	/*	align-items: flex-end;*/
	/*}*/

	h1 {
		font-size: 2.7rem;
	}

	button,
	a,
	#indexSection a, 
	a.code-button {
		width: 100%;
	}

	button.collapseButton {
		width: auto;
	}


	section:not(.colorful) {
		padding-bottom: calc(var(--header-height)/4);
		padding-top: calc(var(--header-height)/4);
	}

	#indexSection {
		flex-direction: column;
	}

	.modal {
		margin: calc(20vh / 2) var(--modal-horizontal-margin);
		height: calc(100vh - 20vh);
	}

	.modal .modal-content {
		padding-left: 6vw;
		padding-right: 6vw;
		position: relative;
		margin-top: 2rem;
		height: calc(100% - 2rem);
	}

	.modal .close {
		right: 0.5rem;
		top: 0.5rem;
		font-size: 3.5rem;
	}

	.modal .modal-content h3 {
		margin-bottom: 2rem;
	}

	.modal .modal-content p {
		font-size: 0.9rem;
	}

	#projectsSection .modal-content img,
	#projectsSection .modal-content video {
		width: 100% !important;
		margin: 1rem 0;
		margin-bottom: 0;
	}

	.container-cover {
		font-size: 1.5rem;
	}


	#othersSection .project-container,
	#othersSection .image-container {
		height: auto;
		width: 100%;
		margin: 0.25rem 0;
		display: block;
	}

	#othersSection #blender,
	#othersSection #photography {
		display: flex;
		flex-direction: column;
	}

	#othersSection .project-container img,
	#othersSection .image-container img,
	#othersSection a img {
		display: block;
	}

	ul {
		padding-left: 1rem;
	}

	dialog .close:before,
	dialog .close:after {
		width: 1.5rem !important;
	}

	dialog .close:before {
		transform: translate(0.25rem) rotate(45deg);
	}

	dialog .close:after {
		transform: translate(-0.25rem) rotate(-45deg);
	}



	#othersSection #origami {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#othersSection #origami img,
	#othersSection #photography img,
	#othersSection #blender img {
		height: auto;
		width: 100%;
	}

	#othersSection #photography {
		height: auto;
	}

	#othersSection #photography a {
		margin: 0.25rem 0;
		display: inline-block;
	}


	#myPicture {
		float: none;
		margin: auto;
		width: 100%;
		height: auto;
	}

	.columns {
		grid-template-columns: repeat(1, 1fr) !important;
	}


}
